**Debug
**Release
**.vs
**.vcxproj.user
**.config
*.html
*.pdb
*.lib
*.png
*.dll
*.css
*.js
*.jpg
Arkanoid/SFML-2.5.1/examples/pong/Pong.cpp
Arkanoid/SFML-2.5.1/examples/pong/pong.exe
Arkanoid/SFML-2.5.1/examples/pong/resources/ball.wav
*.ttf
*.vert
*.exe
*.wav
*.flac
*.inl
Arkanoid/SFML-2.5.1/license.md
Arkanoid/SFML-2.5.1/readme.md
Arkanoid/SFML-2.5.1/lib/cmake/SFML/SFMLStaticTargets.cmake
Arkanoid/SFML-2.5.1/lib/cmake/SFML/SFMLStaticTargets-release.cmake
Arkanoid/SFML-2.5.1/lib/cmake/SFML/SFMLStaticTargets-debug.cmake
Arkanoid/SFML-2.5.1/lib/cmake/SFML/SFMLSharedTargets.cmake
Arkanoid/SFML-2.5.1/lib/cmake/SFML/SFMLSharedTargets-release.cmake
Arkanoid/SFML-2.5.1/lib/cmake/SFML/SFMLSharedTargets-debug.cmake
Arkanoid/SFML-2.5.1/lib/cmake/SFML/SFMLConfigVersion.cmake
Arkanoid/SFML-2.5.1/lib/cmake/SFML/SFMLConfigDependencies.cmake
Arkanoid/SFML-2.5.1/lib/cmake/SFML/SFMLConfig.cmake
Arkanoid/SFML-2.5.1/include/SFML/Window/WindowStyle.hpp
Arkanoid/SFML-2.5.1/

SFML-2.5.1/license.md
SFML-2.5.1/readme.md
SFML-2.5.1/lib/cmake/SFML/SFMLStaticTargets.cmake
SFML-2.5.1/lib/cmake/SFML/SFMLStaticTargets-release.cmake
SFML-2.5.1/lib/cmake/SFML/SFMLStaticTargets-debug.cmake
SFML-2.5.1/lib/cmake/SFML/SFMLSharedTargets.cmake
SFML-2.5.1/lib/cmake/SFML/SFMLSharedTargets-release.cmake
SFML-2.5.1/lib/cmake/SFML/SFMLSharedTargets-debug.cmake
SFML-2.5.1/lib/cmake/SFML/SFMLConfigVersion.cmake
SFML-2.5.1/lib/cmake/SFML/SFMLConfigDependencies.cmake
SFML-2.5.1/lib/cmake/SFML/SFMLConfig.cmake
SFML-2.5.1/include/SFML/Window/WindowStyle.hpp
SFML-2.5.1/